@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('/Fonts/Gilroy-Regular.woff2') format('woff2'),
  }

@font-face {
    font-family: 'Gilroybold';
    src: url('/Fonts/Gilroy-Bold.woff2') format('woff2'),
  }

@font-face {
    font-family: 'Gilroythin';
    src: url('/Fonts/Gilroy-Thin.woff2') format('woff2'),
  }



